body {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.input-group-addon,
.form-control {
    border: 1px solid #ddd;
}

.form-control {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.btn-theme-default {
    background: #264676;
    color: #fff;
    font-weight: 700;
    text-transform: capitalize;
    border: 1px solid rgba(0, 32, 80, .1);
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-transition: all 300ms ease-in-out 0s;
    -moz-transition: all 300ms ease-in-out 0s;
    -ms-transition: all 300ms ease-in-out 0s;
    -o-transition: all 300ms ease-in-out 0s;
    transition: all 300ms ease-in-out 0s;
}

.btn-theme-default:focus,
.btn-theme-default:hover {
    background: #1A3A6A;
    color: #fff;
    border: 1px solid rgba(0, 32, 80, .1);
}

.btn-theme-default:active {
    background: #002050;
    color: #fff;
    border: 1px solid rgba(0, 32, 80, .1);
}

.no-padding-left {
    padding-left: 0 !important;
}

.no-padding-right {
    padding-right: 0 !important;
}

.no-margin-top {
    margin-top: 0 !important;
}

img, iframe, canvas, svg {
    max-width: 100%;
}

.img-responsive {
    border: 1px solid rgba(0, 0, 0, .1);
}

a {
    text-decoration: none;
    cursor: pointer;
}

a:hover, a:focus {
    text-decoration: none;
    cursor: pointer;
}

.section-title {
    color: #494949;
    font-size: 30px;
    line-height: 38px;
    font-weight: bold;
}

.section-title span {
    display: block;
}

.text-muted {
    color: #666;
}

p {
    /*font-size: 16px;*/
    /*line-height: 24px;*/
    /*padding: 10px;*/
    /*margin: 10px 0;*/
    color: #666;
}

.container-title {
    color: #494949;
    font-size: 40px;
    margin-bottom: 60px;
}

.clear {
    clear: both;
}

.btn {
    color: #fff !important;
    font-weight: 700;
}

.submit-btn {
    -moz-box-shadow: 0 1px 3px 0 #91b8b3;
    -webkit-box-shadow: 0 1px 3px 0 #91b8b3;
    box-shadow: 0 1px 3px 0 #91b8b3;
    background-color: #5bbc2e;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #566963;
    display: inline-block;
    cursor: pointer;
    color: #fff;
    font-weight: bold;
    padding: 11px 23px;
    text-decoration: none;
    text-shadow: 0 -1px 0 #2b665e;
}

.submit-btn:hover {
    background-color: #07de0b;
}

section {
    display: block;
    padding: 40px 0 0 0;
    /*min-height: 400px;*/
    height: auto;
    clear: both;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

.col-home {
    width: 40%;
}

.description-div {
    padding: 5% 0 0 10%;
}

.section-backg {
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
}

.divider {
    position: absolute;
    left: 50%;
    height: 250px;
    border-left: 2px solid #5bbc2e;
}

.container-form {
    max-width: 500px;
    margin: 80px auto;
    float: none;
}

.form_header {
    margin-bottom: 20px;
}

.form_header h2 {
    color: #333;
}

section ul {
    padding-left: 18px;
    margin-top: 0;
    margin-bottom: 28px;
}

section ul li {
    padding-left: 15px;
    margin-bottom: 11px;
    font-size: 16px;
}

hr {
    background-color: #002050;
    width: 50px;
    height: 2px;
    display: inline-block;
    margin-bottom: 0;
    margin-top: 10px;
    border: 0;
    border-top: 1px solid rgba(0, 32, 80, .1);
    box-sizing: content-box;
}

.container-form-alert {
    /*max-width: 800px;*/
    /*margin: 0px auto;*/
    /*text-align: center;*/
}

.myaccount-form-alert {
    margin: 0px auto;
    text-align: center;
}

.hide {
    display: none !important
}

.show {
    display: block !important
}

.hidden,
.visible-lg,
.visible-md,
.visible-sm,
.visible-xs {
    display: none !important
}

.invisible {
    visibility: hidden
}

.text-hide {
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0
}

.hidden {
    visibility: hidden !important
}

.affix {
    position: fixed
}

.table-borderless tbody tr td,
.table-borderless tbody tr th,
.table-borderless thead tr th {
    border: none;
}

.text-right-xs {
    text-align: right;
}

.text-left-xs {
    text-align: left;
}

/*#alert_msg {
  margin-top: 120px;
}*/

.container-fluid {
    /*padding-bottom: 50px;*/
}

.display-flex {
    display: flex;
    flex-wrap: wrap;
}

.img-service, .img-offer {
    height: 60px !important;
}

.img-service {
    width: 45px !important;
    height: 45px !important;
}

.panel-msg-info {
    height: 300px;
    width: 700px;
}

#content {
    margin-top: 113px;
    margin-bottom: 100px;
}

.btn-danger {
    background: #666 !important;
    border-color: #555 !important;
    font-weight: 700;
    color: #fff !important;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-transition: all 300ms ease-in-out 0s;
    -moz-transition: all 300ms ease-in-out 0s;
    -ms-transition: all 300ms ease-in-out 0s;
    -o-transition: all 300ms ease-in-out 0s;
    transition: all 300ms ease-in-out 0s;
}

.btn-danger:hover,
.btn-danger:focus {
    background: #555 !important;
    border-color: #444 !important;
}

.offer-list .panel-default {
    width: 100%;
}

.offer-list {
    flex-wrap: wrap;
}

.offer-list h1 {
    color: #333;
}

.offer-list > div:nth-child(1) .panel-default {
    border: 1px solid #5b97d5;
}

.offer-list > div:nth-child(2) .panel-default {
    border: 1px solid #a074a6;
}

.offer-list > div:nth-child(3) .panel-default {
    border: 1px solid #ed7d31;
}

.offer-list .list-item {
    font-size: 15px;
    padding: 7px 15px;
    border-bottom: 1px solid #ddd !important;
}

.offer-list .panel-default .btn-theme-default {
    margin: 30px auto;
}

.see-all-offers-btn,
.get-additional-option-btn {
    width: 178px !important;
    text-align: center;
}

.options-list span {
    display: block;
    padding-left: 25px;
}

.options-list li {
    padding-left: 50px;
}

/* up to 767px) */
@media (max-width:767px) {
    #content {
        margin-top: 59px;
    }
}

/* 394px up to 435px) */
@media (min-width: 394px)
and (max-width:435px) {
    #content {
        margin-bottom: 145px;
    }
}

/* 393px and below) */
@media (max-width:393px) {
    #content {
        margin-bottom: 155px;
    }
}
