.myaccount-form .block-info {
  /*.myaccount-form #contract-holder*/
  margin-bottom: 15px;
}

.myaccount-form .top-label {
  /*margin-top: 25px;*/
  margin-bottom: 0;
  text-transform: capitalize;
}

.myaccount-form hr {
  margin-bottom: 15px;
}

.myaccount-form .block-info .control-label {
  display: block;
  color: #333;
  text-align: left;
  text-transform: capitalize;
}

.myaccount-form .block-info input[type="checkbox"] {
  width: 34px;
}

.myaccount-form .block-info > .row {
  display: flex;
  flex-wrap: wrap;
}

.myaccount-form #contract-holder {
  /*background: #BBDEFB;*/
  /*border-right: 1px solid #ddd;*/
}

.myaccount-form #contract-information {
  /*background: #FFCCBC;*/
  /*border-right: 1px solid #ddd;*/
}

.myaccount-form #access {
  /*background: #B3E5FC;*/
  /*border-right: 1px solid #ddd;*/
}

.myaccount-form #electronic-payment-method {
  /*background: #D7CCC8;*/
}

.my-account-submit-btn {
  margin: 30px 0;
}